*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #A888B5;
}


.prods-js {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    justify-content: center;
    gap: 2rem; 
    margin-top: 2rem;

}

.ver-carro{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

header {

    justify-items: center;
}

.bg-head {
    background-color: #8174A0;
    justify-content: center;
    border-radius: 1.5rem;
}

.agregar{
    color: white;
    border-color: #655CC9;
    background-color: #655CC9;
}

.agregar:hover{
    border-color: #655CC9;
    color: #655cc9;
}

.card-bg{

    background-color: #EFB6C8;
    
}


